################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

obj/

# Ignorar a pasta bin
bin/

# Ignorar pastas de depuração
Debug/
Release/

/.vs/FiapTechChallenge1
/.vs
/Biblioteca.API/.vs/ProjectEvaluation/biblioteca.api.metadata.v7.bin
/Biblioteca.API/.vs/ProjectEvaluation/biblioteca.api.projects.v7.bin
/Biblioteca.API/obj/Release/net7.0
/Biblioteca.API/.vs/Biblioteca.API/FileContentIndex
/Biblioteca.API/.vs/Biblioteca.API/v17/TestStore/0/000.testlog
/Biblioteca.API/.vs/Biblioteca.API/v17/TestStore/0/testlog.manifest
/Biblioteca.Infraestrutura/obj/Release/net7.0
/Biblioteca.Modelos/obj/Release/net7.0
/Biblioteca.Servicos/obj/Release/net7.0
/Biblioteca.UIWeb.MVC/obj/Release/net7.0
/Biblioteca.API/obj/Debug/net7.0/Biblioteca.API.assets.cache
/Biblioteca.API/obj/Debug/net7.0/Biblioteca.API.csproj.AssemblyReference.cache
/Biblioteca.API/obj/Debug/net7.0/Biblioteca.API.GeneratedMSBuildEditorConfig.editorconfig
/Biblioteca.API/Biblioteca.API.csproj.user
/Biblioteca.API/obj/Debug/net7.0/Biblioteca.API.GeneratedMSBuildEditorConfig.editorconfig
#/Biblioteca.API/appsettings.json
/Biblioteca.API/.vs/Biblioteca.API/v17/.suo
/Biblioteca.API/bin/Debug/net7.0/appsettings.json
/Biblioteca.API/bin/Debug/net7.0/Biblioteca.API.dll
/Biblioteca.API/bin/Debug/net7.0/Biblioteca.API.pdb
/Biblioteca.API/bin/Debug/net7.0/Biblioteca.Infraestrutura.dll
/Biblioteca.API/bin/Debug/net7.0/Biblioteca.Infraestrutura.pdb
/Biblioteca.API/bin/Debug/net7.0/Biblioteca.Negocio.dll
/Biblioteca.API/bin/Debug/net7.0/Biblioteca.Negocio.pdb
/Biblioteca.API/bin/Debug/net7.0/Biblioteca.Servicos.dll
/Biblioteca.API/bin/Debug/net7.0/Biblioteca.Servicos.pdb
/Biblioteca.API/obj/Debug/net7.0/ref/Biblioteca.API.dll
/Biblioteca.API/obj/Debug/net7.0/Biblioteca.API.csproj.CoreCompileInputs.cache
/Biblioteca.API/obj/Debug/net7.0/Biblioteca.API.csproj.FileListAbsolute.txt
/Biblioteca.API/obj/Debug/net7.0/Biblioteca.API.dll
/Biblioteca.API/obj/Debug/net7.0/Biblioteca.API.genruntimeconfig.cache
/Biblioteca.API/obj/Debug/net7.0/refint/Biblioteca.API.dll
/Biblioteca.API/obj/Biblioteca.API.csproj.nuget.dgspec.json
/Biblioteca.API/obj/Biblioteca.API.csproj.nuget.g.props
/Biblioteca.API/obj/Debug/net7.0/Biblioteca.API.pdb
/Biblioteca.API/obj/project.assets.json
/Biblioteca.API/obj/project.nuget.cache
/Biblioteca.Infraestrutura/bin/Debug/net7.0/Biblioteca.Infraestrutura.dll
/Biblioteca.Infraestrutura/bin/Debug/net7.0/Biblioteca.Infraestrutura.pdb
/Biblioteca.Infraestrutura/bin/Debug/net7.0/Biblioteca.Negocio.dll
/Biblioteca.Infraestrutura/bin/Debug/net7.0/Biblioteca.Negocio.pdb
/Biblioteca.Infraestrutura/obj/Debug/net7.0/ref/Biblioteca.Infraestrutura.dll
/Biblioteca.Infraestrutura/obj/Biblioteca.Infraestrutura.csproj.nuget.dgspec.json
/Biblioteca.Infraestrutura/obj/Biblioteca.Infraestrutura.csproj.nuget.g.props
/Biblioteca.Infraestrutura/obj/Debug/net7.0/Biblioteca.Infraestrutura.assets.cache
/Biblioteca.Infraestrutura/obj/Debug/net7.0/Biblioteca.Infraestrutura.csproj.AssemblyReference.cache
/Biblioteca.Infraestrutura/obj/Debug/net7.0/Biblioteca.Infraestrutura.csproj.CoreCompileInputs.cache
/Biblioteca.Infraestrutura/obj/Debug/net7.0/Biblioteca.Infraestrutura.csproj.FileListAbsolute.txt
/Biblioteca.Infraestrutura/obj/Debug/net7.0/Biblioteca.Infraestrutura.dll
/Biblioteca.Infraestrutura/obj/Debug/net7.0/Biblioteca.Infraestrutura.GeneratedMSBuildEditorConfig.editorconfig
/Biblioteca.Infraestrutura/obj/Debug/net7.0/Biblioteca.Infraestrutura.genruntimeconfig.cache
/Biblioteca.Infraestrutura/obj/Debug/net7.0/Biblioteca.Infraestrutura.pdb
/Biblioteca.Infraestrutura/obj/Debug/net7.0/refint/Biblioteca.Infraestrutura.dll
/Biblioteca.Modelos/obj/Debug/net7.0/ref/Biblioteca.Negocio.dll
/Biblioteca.Modelos/obj/Biblioteca.Negocio.csproj.nuget.dgspec.json
/Biblioteca.Modelos/obj/Biblioteca.Negocio.csproj.nuget.g.props
/Biblioteca.Modelos/obj/Debug/net7.0/Biblioteca.Negocio.assets.cache
/Biblioteca.Modelos/obj/Debug/net7.0/Biblioteca.Negocio.csproj.AssemblyReference.cache
/Biblioteca.Modelos/obj/Debug/net7.0/Biblioteca.Negocio.csproj.CoreCompileInputs.cache
/Biblioteca.Modelos/obj/Debug/net7.0/Biblioteca.Negocio.csproj.FileListAbsolute.txt
/Biblioteca.Modelos/obj/Debug/net7.0/Biblioteca.Negocio.dll
/Biblioteca.Modelos/obj/Debug/net7.0/Biblioteca.Negocio.GeneratedMSBuildEditorConfig.editorconfig
/Biblioteca.Modelos/obj/Debug/net7.0/Biblioteca.Negocio.pdb
/Biblioteca.Modelos/obj/Debug/net7.0/refint/Biblioteca.Negocio.dll
/Biblioteca.Modelos/obj/project.assets.json
/Biblioteca.Modelos/obj/project.nuget.cache
/Biblioteca.Servicos/obj/Debug/net7.0/ref/Biblioteca.Servicos.dll
/Biblioteca.Servicos/obj/Biblioteca.Servicos.csproj.nuget.dgspec.json
/Biblioteca.Servicos/obj/Biblioteca.Servicos.csproj.nuget.g.props
/Biblioteca.Servicos/obj/Debug/net7.0/Biblioteca.Servicos.assets.cache
/Biblioteca.Servicos/obj/Debug/net7.0/Biblioteca.Servicos.csproj.AssemblyReference.cache
/Biblioteca.Servicos/obj/Debug/net7.0/Biblioteca.Servicos.csproj.CoreCompileInputs.cache
/Biblioteca.Servicos/obj/Debug/net7.0/Biblioteca.Servicos.csproj.FileListAbsolute.txt
/Biblioteca.Servicos/obj/Debug/net7.0/Biblioteca.Servicos.dll
/Biblioteca.Servicos/obj/Debug/net7.0/Biblioteca.Servicos.GeneratedMSBuildEditorConfig.editorconfig
/Biblioteca.Servicos/obj/Debug/net7.0/Biblioteca.Servicos.pdb
/Biblioteca.Servicos/obj/Debug/net7.0/refint/Biblioteca.Servicos.dll
/Biblioteca.Servicos/obj/project.assets.json
/Biblioteca.Servicos/obj/project.nuget.cache
/Biblioteca.API/obj/Debug/net7.0/Biblioteca.API.MvcApplicationPartsAssemblyInfo.cs
/Biblioteca.Infraestrutura/obj/project.assets.json
/Biblioteca.Infraestrutura/obj/project.nuget.cache
/Biblioteca.Modelos/bin/Debug/net7.0/Biblioteca.Negocio.dll
/Biblioteca.Modelos/bin/Debug/net7.0/Biblioteca.Negocio.pdb
/Biblioteca.Servicos/bin/Debug/net7.0/Biblioteca.Infraestrutura.dll
/Biblioteca.Servicos/bin/Debug/net7.0/Biblioteca.Infraestrutura.pdb
/Biblioteca.Servicos/bin/Debug/net7.0/Biblioteca.Negocio.dll
/Biblioteca.Servicos/bin/Debug/net7.0/Biblioteca.Negocio.pdb
/Biblioteca.Servicos/bin/Debug/net7.0/Biblioteca.Servicos.dll
/Biblioteca.Servicos/bin/Debug/net7.0/Biblioteca.Servicos.pdb
/Biblioteca.UIWeb.MVC/obj/Biblioteca.UIWeb.MVC.csproj.nuget.dgspec.json
/Biblioteca.UIWeb.MVC/obj/Biblioteca.UIWeb.MVC.csproj.nuget.g.props
/Biblioteca.UIWeb.MVC/obj/Debug/net7.0/Biblioteca.UIWeb.MVC.assets.cache
/Biblioteca.UIWeb.MVC/obj/Debug/net7.0/Biblioteca.UIWeb.MVC.GeneratedMSBuildEditorConfig.editorconfig
/Biblioteca.UIWeb.MVC/obj/project.assets.json
/Biblioteca.UIWeb.MVC/obj/project.nuget.cache
