<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://bibliotecafcatrasados.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1ecda705-7577-43e1-9c4b-76e9a6625f5d/resourceGroups/gr_cidibiblioteca/providers/Microsoft.Web/sites/bibliotecafcatrasados</ResourceId>
    <UserName>$bibliotecafcatrasados</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://bibliotecafcatrasados.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>